*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  color: white;
  font-size: 18px;
  font-weight:500;
  font-family: "DM Sans", Arial, Helvetica, sans-serif;
  background-color: #02012B;
}

h1{
  color: white;
  text-align: center;
}

h5{
  margin-bottom: 20px;
}

#containerPrincipal{
  width: 80%;
  margin: 0 auto;
  height: 600px;
}

.containerHeader{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0;
}

.btnUnits{
    background-color: #25253F;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    border: 0;
}

.btnUnits i{
  margin: 0 2px;
}

.containerInput{
  text-align: center;
  margin: 50px 0;
}

.containerInput>input{
  background-color: #25253F ;
  padding: 10px;
  border: 0;
  border-radius: 5px;
  width: 30%;
}

.containerInput>input::placeholder{
  color: rgb(189, 189, 189);
}

.containerInput>button{
  margin-left: 10px;
  padding: 10px 15px;
  border-radius: 5px;
  border: 0;
  background-color: #4557D8;
  color: white;
}

.containerMain{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  height: 100%;
  gap: 20px;
}

.containerMain div{
  border-radius: 10px;
}

.item1{
  grid-column-start: 1;
  grid-column-end: 3;
}
.item2{
  grid-row: 3 span;
}
.item3,
.item4{
  grid-column: 2 span;
}

.containerToday{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  background-color: #3736B6;
  background-repeat: no-repeat;
  padding: 40px;
}

.containerToday div:last-child{
    font-size: 64px;
    font-style: italic;
}

.containerInfo{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.containerInfo div{
  border: 0.1px solid #48487b;
  background-color: #25253F;
  padding: 20px;
}

.containerInfo div span{
  font-size: 30px;
}