* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: white;
  font-size: 18px;
  font-weight: 300;
  font-family: "DM Sans", Arial, Helvetica, sans-serif;
  background-color: #02012b;
}

h1 {
  color: white;
  text-align: center;
}

h4 {
  margin-bottom: 20px;
}

h5 {
  color: hsl(240, 6%, 70%);
  margin: 10px 0;
}

#containerPrincipal {
  width: 80%;
  margin: 0 auto;
}

.containerHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0;
}

.btnUnits {
  background-color: #25253f;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  border: 0;
}

.tue {
  background-color: #2f2f49;
  padding: 10px 20px;
}

.btnUnits:hover {
  cursor: pointer;
  background-color: #4c4b73;
}

.btnUnits i {
  margin: 0 2px;
}

.containerInput {
  text-align: center;
  margin: 50px 0;
}

.containerInput > input {
  background-color: #25253f;
  padding: 10px;
  border: 0;
  border-radius: 5px;
  width: 30%;
}

.containerInput > input::placeholder {
  color: rgb(189, 189, 189);
}

.containerInput > button {
  margin-left: 10px;
  padding: 10px 15px;
  border-radius: 5px;
  border: 0;
  background-color: #4557d8;
  color: white;
}

.containerMain {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.containerMain div {
  margin: 2px 0;
  border-radius: 10px;
}

.item1 {
  grid-column-start: 1;
  grid-column-end: 3;
}
.item2 {
  grid-row: 3 span;
}
.item3,
.item4 {
  grid-column: 2 span;
}

.containerToday {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3736b6;
  background-repeat: no-repeat;
  padding: 40px;
}

.containerToday div img {
  float: right;
  max-width: 20%;
}

.containerToday div:last-child {
  font-size: 64px;
  font-style: italic;
  text-align: right;
}

.containerInfo {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.containerInfo div {
  border: 0.1px solid #48487b;
  background-color: #25253f;
  padding: 20px;
}

.containerInfo div span {
  font-size: 30px;
}

.containerWeek {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 15px;
  margin-top: 20px;
}

.containerWeek div {
  background-color: #26253e;
  border: 0.1px solid #48487b;
  text-align: center;
  padding: 5px;
}

.containerWeek div img {
  max-width: 70%;
}

.containerWeek div div {
  border: 0;
  display: flex;
  justify-content: space-between;
}

.containerWeek div div span {
  font-size: 14px;
}

.containerHour {
  padding: 20px;
  background-color: #25253f;
}

.headerHour {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.containerHour img {
  max-width: 12%;
}

ul {
  list-style-type: none;
}

li {
  display: flex;
  align-items: center;
  background-color: #2f2f49;
  border-radius: 10px;
  border: 0.1px solid #48487b;
  margin: 15px 0;
  padding: 3px 10px;
}

li div span {
  vertical-align: super;
  margin-left: 5px;
}

.gradi {
  vertical-align: middle;
}

.dropdownMenu {
  position: absolute;
  top: 62%;
  left: 71.8%;
  background: #25253f;
  border: 0.1px solid #48487b;
  border-radius: 6px;
  list-style: none;
  padding: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.dropdownMenu li,
.headerdropdownMenu li{
  padding: 10px 93px 10px 10px;
  background-color: #25253f;
  border: 0;
}

.dropdownMenu li:hover,
.headerdropdownMenu li:hover{
  transform: scale(1.05);
  background-color: #2f2f49;
  cursor: pointer;
}

.headerdropdownMenu {
  position: absolute;
  top: 13.5%;
  left: 70%;
  background: #25253f;
  border: 0.1px solid #48487b;
  border-radius: 6px;
  list-style: none;
  padding: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

hr{
  border: 0.1px solid #48487b;
  margin: 10px 0;
}

.headerdropdownMenu span{
  font-size: 12px;
  color: hsl(240, 6%, 70%);
}

